<div class="container-fluid">
    <h2 class="text-center">Add Your Quote</h2>
    <hr>
    <!-- <form #goalForm='ngForm'>
      <div class="form-group">

          <label for="name">Name</label>
          <input type="text" required class="form-control" id="name" [(ngModel)]="addQuote.name" name="name">

Testing to see if we get any data
          Display {{addQuote.name}} -->
      <!-- </div>
      </form> -->
    <form #quoteForm ='ngForm'>
        <div class="container">
            <div class="row">
              <div class="col-6 col-sm-8">
                <div class="form-group">
  
                    <label for="Qoutetitle">Qoute Title:</label>
                    <input type="text" required class="form-control" id="Qoutetitle" [(ngModel)]="addQuote.Qoutetitle" name="Qoutetitle" #Quotetitle="ngModel">
                    <div [hidden]="Quotetitle.valid || Quotetitle.pristine" class="alert alert-danger">
                      <p>Enter Qoute Title</p>
                    </div>
                    <!-- Display{{addQuote.Qoutetitle}} -->
                    
          
                </div>
                <div class="form-group">
  
                    <label for="Author">Author:</label>
                    <input type="text" required class="form-control" id="Author" [(ngModel)]="addQuote.Author" name="Author" #Author="ngModel">
                    <div [hidden]="Author.valid || Author.pristine" class="alert alert-danger">
                      <p>Author Name required</p>
                    </div>
                    <!-- display{{addQuote.Author}} -->

          
                </div>
                <div class="form-group">
  
                    <label for="Submittedby">Submitted By:</label>
                    <input type="text" required class="form-control" id="Submittedby"[(ngModel)]="addQuote.submittedBy" name="submittedBy" #submittedBy="ngModel">
                    <div [hidden]="submittedBy.valid || submittedBy.pristine" class="alert alert-danger">
                      <p>Name required</p>
                    </div>

          
                </div>
             
              </div>
       
            </div>
          </div>
        
        <div class="form-group"><br>
  
            <label for="Qoute">Quote:</label>
            <textarea class="form-control" id="Qoute" rows="4" [(ngModel)]="addQuote.Quote" name="Quote"  required #Quote="ngModel" ></textarea>
            <div [hidden]="Quote.valid || Quote.pristine" class="alert alert-danger">
              <p>Enter your Quote please</p>
            </div>
            

  
        </div><br>
        <button type="submit" class="btn btn-success">Add Goal</button>
        
    </form>
  </div>
