<div class="container-fluid">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <form >
        <div class="container">
            <div class="row">
              <div class="col-6 col-sm-8">
                <div class="form-group">
  
                    <label for="Qoutetitle">Qoute Title:</label>
                    <input type="text" required class="form-control" id="Qoutetitle" >
                    
          
                </div>
                <div class="form-group">
  
                    <label for="Author">Author:</label>
                    <input type="text" required class="form-control" id="Author">

          
                </div>
                <div class="form-group">
  
                    <label for="Submittedby">Submitted By:</label>
                    <input type="text" required class="form-control" id="Submittedby">

          
                </div>
                <div class="form-group">
                    <label for="Date">Date:</label><br>
                    <input type='date' id="Date" required>
          
                </div>
                
              </div>
       
            </div>
          </div>
        
        <div class="form-group"><br>
  
            <label for="Qoute">Quote:</label>
            <textarea class="form-control" id="Qoute" rows="4" required></textarea>
  
        </div><br>
        <button type="submit" class="btn btn-success">Add Goal</button>
        
    </form>
  </div>
