.updown{
    display: flex;
    gap: 10%;
}
.updownp{
    color: rgb(13, 13, 187);
}
.updownp2{
    color: red;
}
.updownp,.updownp2:hover{
    cursor: pointer;
}
.updown span{
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}
.del{
    color: #F24A72;
}
.del:hover{
    cursor: pointer;
}