
<div class="container-fluid" id="background">
  <nav class="navbar sticky-top navbar-light bg-transparent">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand">Quote-Medium</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Authors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Quote Of the Day</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </nav>

    <div class="header">
        
        <div class="form-group" id="header">
  
    
          <input type="text" name="search" id="search" placeholder="Search a Quote" >
          <p class="overlay"><i class="fa-solid fa-magnifying-glass fa-xl"></i></p>
          
          
    
      </div>
    
        <hr>
    </div>
    
    <!-- quotes display card -->
    <div id="display">
    <div class="card"style="width: 80rem;" id="cll">
        <div class="card-body">
            <div class="container">
                <div class="row">
                  <div class="col-6 col-sm-7" id="myquotes">
                      <h3> Quotes at Quote-Medium</h3>
                      
                      <div class="flex">
                      <div class="card border-success mb-3" style="max-width: 18rem;" *ngFor="let Quote of Quotes; let i=index " id="li">
                        <div class="card-header bg-transparent border-success" id="title">
                            <h4>{{Quote.Qoutetitle}}</h4>
                            <button (click)="findMore(i)" class="btn btn-success">More</button>
                        </div>
                        <div class="card-body text-success" id="qq">
                          <!-- <div *ngIf="Quote.upVotes == highest";then highlight else empty>

                          </div>
                          <ng-template #highlight>
                            <p class="card-text" appQuoteHighlight >{{Quote.Quote}}</p>
                          
                          </ng-template>
                          <ng-template #empty>
                            <p class="card-text"  >{{Quote.Quote}}</p>
                          
                          </ng-template> -->
                          
                          <p class="card-text" ><span><i class="fa-solid fa-quote-left "></i></span> {{Quote.Quote}} <span><i class="fa-solid fa-quote-right"></i></span></p>
                          
                          <div class="Qdetails">
                            <app-quote-details *ngIf="Quote.seeMore" [Quotes]="Quote" (toDelete)="removeQuote($event,i)"></app-quote-details>
                            <div class="post">
                            <p>Posted by {{Quote.submittedBy}}</p>
                            <p>{{Quote.timeLapse |timeLapse}} Days ago</p>
                          </div>
                            

                          </div>
                        </div>
                        <!-- <div class="card-footer bg-transparent border-success">
                            

                        
                        </div> -->
                      </div>
                    </div>

                  </div>
                  <div class="col-6 col-sm-4" id="sm44">
                      <h3>Add a Quote</h3>

                      <app-add-quote (myQuote)="yourQuote($event)"></app-add-quote>
                      

                  </div>
     
                </div>
              </div>
        </div>
      </div>
    </div>
   

</div>
