
<div class="container-fluid" id="background">
    <div class="header">
        <h1>{{header}}</h1>
        <hr>
    </div>

    <!-- quotes display card -->
    <div id="display">
    <div class="card"style="width: 50rem;">
        <div class="card-body">
            <div class="container">
                <div class="row">
                  <div class="col-6 col-sm-8" id="myquotes">
                      <h3>Inspirational Quotes at BrainyQuote</h3>

                  </div>
                  <div class="col-6 col-sm-4">
                      <h3>Add a Quote</h3>

                  </div>
     
                </div>
              </div>
        </div>
      </div>
    </div>
   

</div>
