
<div class="container-fluid" id="background">
    <div class="header">
        <h1>{{header}}</h1>
        <hr>
    </div>

    <!-- quotes display card -->
    <div id="display">
    <div class="card"style="width: 80rem;" id="cll">
        <div class="card-body">
            <div class="container">
                <div class="row">
                  <div class="col-6 col-sm-7" id="myquotes">
                      <h3>Inspirational Quotes at BrainyQuote</h3>
                      
                      <div class="flex">
                      <div class="card border-success mb-3" style="max-width: 18rem;" *ngFor="let Quote of Quotes; let i=index " id="li">
                        <div class="card-header bg-transparent border-success" id="title">
                            <h4>{{Quote.Qoutetitle}}</h4>
                            <button (click)="findMore(i)">Find More</button>
                        </div>
                        <div class="card-body text-success">
                          <h5 class="card-title">Success card title</h5>
                          <p class="card-text">{{Quote.Quote}}</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <app-quote-details *ngIf="Quote.seeMore" [Quotes]="Quote" (toDelete)="removeQuote($event,i)"></app-quote-details>

                        
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-6 col-sm-4">
                      <h3>Add a Quote</h3>

                      <app-add-quote></app-add-quote>
                      

                  </div>
     
                </div>
              </div>
        </div>
      </div>
    </div>
   

</div>
