/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css" */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
}
.header h1{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 700;

}
#background{
    background-image: url("./assets/background.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#display{
    display: grid;
    place-content: center;
    
}
#myquotes{
    background-color: aqua;
}